$primary-Colour: #00f;
$secodary-Colour: #ddd;
$heading-Colour: #a09;

body {
    background-color: $secodary-Colour;
    color: $primary-Colour;
}

h1{
    color: $heading-Colour;
}

$local-variable: 20px;

h2{
    font-size: $local-variable;
}

.container {
    $local-variable: 10px;
    margin: $local-variable;
}

